/data
/font
/korbert_vat/best_model
/korbert_vat//data
/korbert_vat/font/
/korbert_vat/pretrained_model/
/korbert_vat/__pycache__
/font
*.ipynb
*.ipynb_checkpoints
*__pycache__
/crossModal_model
/data
