absl-py==0.8.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
anykeystore==0.2
appdirs==1.4.4
asn1crypto==1.0.1
astor==0.8.1
astroid==2.3.1
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.2.0
audioread==2.1.8
Babel==2.7.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
black==19.10b0
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
boto3==1.10.40
botocore==1.13.40
Bottleneck==1.2.1
cachetools==4.1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
configparser==4.0.2
contextlib2==0.6.0
cryptacular==1.5.5
cryptography==2.7
cxxfilt==0.2.0
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
dataclasses==0.7
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
distributed==2.5.2
dlx==1.0.4
docplex==2.14.186
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fairseq==0.9.0
fastcache==1.1.0
fastdtw==0.3.4
fastjsonschema==2.14.4
filelock==3.0.12
Flask==1.1.1
fsspec==0.5.2
future==0.18.2
gast==0.3.2
gensim==3.8.1
gevent==1.4.0
glob2==0.7
gluonnlp==0.9.1
gmpy2==2.0.8
google-auth==1.15.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.25.0
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
hupper==1.9.1
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
inflection==0.4.0
inspyred==1.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.0.3
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.10.3
jip==0.9.13
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.1.0
koalanlp==2.0.9
lazy-object-proxy==1.4.2
libarchive-c==2.8
librosa==0.7.2
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.6.0
marshmallow-polyfield==5.9
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
mxnet==1.6.0
nbconvert==5.6.0
nbformat==4.4.0
nest-asyncio==1.3.3
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
ntlm-auth==1.4.0
numba==0.45.1
numexpr==2.7.0
numpy==1.16.1
numpydoc==0.9.1
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
PasteDeploy==2.0.1
path.py==12.0.1
pathlib2==2.3.5
pathspec==0.8.0
patsy==0.5.1
Paver==1.3.4
pbkdf2==1.3
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.0
ply==3.11
portalocker==1.7.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.1
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
py4j==0.10.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydub==0.24.0
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyramid==1.10.4
pyramid-mailer==0.15.1
pyrsistent==0.15.4
pyscf==1.7.2.post1
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-constraint==1.4.0
python-dateutil==2.8.0
python3-openid==3.1.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.2.0
pytorch-warmup==0.0.4
pytz==2019.3
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==18.1.0
qiskit==0.19.2
qiskit-aer==0.5.1
qiskit-aqua==0.7.1
qiskit-ibmq-provider==0.7.1
qiskit-ignis==0.3.0
qiskit-terra==0.14.1
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
Quandl==3.5.0
regex==2020.5.14
repoze.sendmail==4.4.1
requests==2.22.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
resampy==0.2.2
retworkx==0.3.4
rope==0.14.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.1
sacrebleu==1.4.9
sacremoses==0.0.35
scikit-image==0.15.0
scikit-learn==0.22.2.post1
scipy==1.3.1
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
sentencepiece==0.1.85
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
sounddevice==0.3.15
SoundFile==0.10.3.post1
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-paverutils==1.17.0
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.12
statsmodels==0.10.1
sympy==1.4
tables==3.5.2
tb-nightly==2.3.0a20200524
tblib==1.4.0
tensorboard==1.14.0
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==1.9
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tokenizers==0.7.0
toml==0.10.1
toolz==0.10.0
torch==1.5.0+cu101
torchaudio==0.5.0
torchtext==0.6.0
torchvision==0.6.0+cu101
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
transaction==3.0.0
transformers==2.9.1
translationstring==1.3
typed-ast==1.4.0
typing==3.7.4.1
unicodecsv==0.14.1
urllib3==1.24.2
velruse==1.1.1
venusian==3.0.0
warmup-scheduler==0.3.2
Wave==0.0.2
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.5
websockets==7.0
Werkzeug==0.16.0
widgetsnbextension==3.0.8
wrapt==1.11.2
WTForms==2.2.1
wtforms-recaptcha==0.3.2
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.2.1
xlwt==1.3.0
zict==1.0.0
zipp==0.6.0
zope.deprecation==4.4.0
zope.interface==4.7.1
zope.sqlalchemy==1.2
